<a href="https://colab.research.google.com/github/analyticsariel/projects/blob/master/BrowseAI_API_Get_County_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Browse AI API - Get County Data

## Overview
| Detail Tag            | Information                                                                                        |
|-----------------------|----------------------------------------------------------------------------------------------------|
| Originally Created By | Ariel Herrera arielherrera@analyticsariel.com |
| External References   | API |
| Input Datasets        | Source name |
| Output Datasets       | Source name |
| Input Data Source     | Pandas DataFrame |
| Output Data Source    | Pandas DataFrame |

## History
| Date         | Developed By  | Reason                                                |
|--------------|---------------|-------------------------------------------------------|
| 1st Jun 2022 | Ariel Herrera | Create notebook. |

## Getting Started
1. Copy this notebook -> File -> Save a Copy in Drive
2. Directions

## Useful Resources
- [Google Colab Cheat Sheet](https://towardsdatascience.com/cheat-sheet-for-google-colab-63853778c093)

## <font color="blue">Install Packages</font>

## <font color="blue">Imports</font>

In [ ]:
from google.colab import drive, files # specific to Google Colab
import requests
import pandas as pd
import time

pd.set_option('display.max_columns', None) # show all columns

## <font color="blue">Functions</font>

In [ ]:
def get_county_data(task_id, street_num, street_name, browse_api_key):
  url = "https://api.browse.ai/v1/tasks/{0}/jobs".format(task_id)

  querystring = {"waitForJob":"false"}

  payload = {"variables": {
      "originUrl": "https://paopropertysearch.coj.net/Basic/Search.aspx",
      "input": str(street_num),
      "input_2": street_name
      }}
  headers = {"Authorization": "Bearer {}".format(browse_api_key)}

  response = requests.request("POST", url, json=payload, headers=headers, params=querystring)

  return response

In [ ]:
def get_county_results(task_id, job_id, browse_api_key):
  # request data
  url = "https://api.browse.ai/v1/tasks/{0}/jobs/{1}".format(task_id, job_id)

  headers = {"Authorization": "Bearer {}".format(browse_api_key)}

  job_response = requests.request("GET", url, headers=headers)

  # transform data to get captured text
  job_list = [[x['name'], x['text']] for x in job_response.json()['result']['capturedTexts']]

  d = {}
  for x in job_response.json()['result']['capturedTexts']:
    d[x['name']] = [x['text']]
  return pd.DataFrame(d)

## <font color="blue">Locals & Constants</font>

In [ ]:
browse_api_key = '7be5526a-a735-48d6-a4a1-b4e32048dc36'
task_id = 'ed813312-b171-471f-b226-1e7b04501146'

## <font color="blue">Data</font>

In [ ]:
url = "https://api.browse.ai/v1/tasks/{0}/jobs".format(task_id)

querystring = {"waitForJob":"false"}

payload = {"variables": {
    "originUrl": "https://paopropertysearch.coj.net/Basic/Search.aspx",
    "input": "10991",
    "input_2": "Lothmore"
    }}
headers = {"Authorization": "Bearer {}".format(browse_api_key)}

response = requests.request("POST", url, json=payload, headers=headers, params=querystring)

print(response.text)

{"statusCode":200,"messageCode":"success","result":{"id":"af7f669f-a44c-40a0-be1a-5128fd68c09b","createdAt":1654780722123,"finishedAt":null,"retriedOriginalJobId":null,"retriedJobId":null,"retriedByJobId":null,"startedAt":null,"taskId":"ed813312-b171-471f-b226-1e7b04501146","triedRecordingVideo":false,"triggeredByAPI":true,"triggeredByTaskMonitorId":null,"triggeredByUserId":null,"userFriendlyError":null,"variables":[{"name":"originUrl","type":"url","label":"Origin URL","value":"https://paopropertysearch.coj.net/Basic/Search.aspx","required":true,"encrypted":false,"defaultValue":"https://paopropertysearch.coj.net/Basic/Search.aspx"},{"name":"input","label":"input","value":"10991","encrypted":false,"defaultValue":"10991","type":"text"},{"name":"input_2","label":"input (2)","value":"Lothmore","encrypted":false,"defaultValue":"Lothmore","type":"text"}],"videoRemovedAt":null,"videoUrl":null,"capturedTexts":[],"capturedScreenshots":[],"capturedLists":[]}}

In [ ]:
pd.json_normalize(response.json())

,statusCode,messageCode,result.id,result.createdAt,result.finishedAt,result.retriedOriginalJobId,result.retriedJobId,result.retriedByJobId,result.startedAt,result.taskId,result.triedRecordingVideo,result.triggeredByAPI,result.triggeredByTaskMonitorId,result.triggeredByUserId,result.userFriendlyError,result.variables,result.videoRemovedAt,result.videoUrl,result.capturedTexts,result.capturedScreenshots,result.capturedLists
0,200,success,af7f669f-a44c-40a0-be1a-5128fd68c09b,1654780722123,None,None,None,None,None,ed813312-b171-471f-b226-1e7b04501146,False,True,None,None,None,"[{'name': 'originUrl', 'type': 'url', 'label':...",None,None,[],[],[]

In [ ]:
job_id = response.json()['result']['id']
print('Job ID:', job_id)

Job ID: af7f669f-a44c-40a0-be1a-5128fd68c09b

In [ ]:
url = "https://api.browse.ai/v1/tasks/{0}/jobs/{1}".format(task_id, job_id)

headers = {"Authorization": "Bearer {}".format(browse_api_key)}

job_response = requests.request("GET", url, headers=headers)

In [ ]:
job_list = [[x['name'], x['text']] for x in job_response.json()['result']['capturedTexts']]

d = {}
for x in job_response.json()['result']['capturedTexts']:
  d[x['name']] = [x['text']]
df_job = pd.DataFrame(d)
df_job

,ownerName,ownerAddress,buildingVal,landVal,taxableVal,useDescription,zoningAssessment,yearBuilt,buildingType,roofStructure,baths,bedrooms
0,SECRETARY OF VETERANS AFFAIRS,"3401 W END AVE STE 760W\nNASHVILLE, TN 37203","$204,987.00","$65,000.00","$269,987.00",RES NATURAL LD 3-7 UNITS PER AC,PUD,2016,0101 - SFR 1 STORY,3 Gable or Hip,3.000,4.000

## <font color="blue">Transformations</font>

In [ ]:
# create dataframe
d = {'street_num': [111, 5821, 937, 215, 1571], 
     'street_name': ['54th', 'Liska', 'Brookmont', '3rd', '7th'],
     'street_type': ['St', 'Dr', 'Ave East', 'St', 'St'],
     'city': ['Jacksonville', 'Jacksonville', 'Jacksonville', 'Jacksonville', 'Jacksonville']}
df = pd.DataFrame(data=d)
df

   street_num street_name street_type          city
0         111        54th          St  Jacksonville
1        5821       Liska          Dr  Jacksonville
2         937   Brookmont    Ave East  Jacksonville
3         215         3rd          St  Jacksonville
4        1571         7th          St  Jacksonville

In [ ]:
df_list = []
job_id_list = []

# iterate through dataframe
for index, row in df.iterrows():
  print('--------------------------')
  street_num = row['street_num']
  street_name = row['street_name']
  print('Processing: {0} {1}'.format(str(street_num), street_name))

  print('Getting county data...')  
  try:
    response = get_county_data(task_id, street_num, street_name, browse_api_key)
    job_id = response.json()['result']['id']
    job_id_list.append(job_id)

    # sleep
    time.sleep(60) # 1 min

    print('Getting results...')
    try:
      df_job = get_county_results(task_id, job_id, browse_api_key)
      # df_job['prop_address'] = str(street_num) + ' ' + street_name
      df_list.append(df_job)
    except:
      print('UNABLE to get results!')  

  except:
    print('UNABLE to retrieve data!')

--------------------------
Processing: 111 54th
Getting county data...
Getting results...
--------------------------
Processing: 5821 Liska
Getting county data...
Getting results...
--------------------------
Processing: 937 Brookmont
Getting county data...
Getting results...
--------------------------
Processing: 215 3rd
Getting county data...
Getting results...
--------------------------
Processing: 1571 7th
Getting county data...
Getting results...

In [ ]:
df_listings = pd.concat(df_list)
df_listings

,ownerName,ownerAddress,buildingVal,landVal,taxableVal,useDescription,zoningAssessment,yearBuilt,buildingType,roofStructure,baths,bedrooms
0,GALEDAR ADEL,"6219 PENDRAGON PL\nJACKSONVILLE, FL 32258","$71,852.00","$40,000.00","$64,830.00",RES MD 8-19 UNITS PER AC,RMD-C,1993,0101 - SFR 1 STORY,8 Horizontal Lap,1.000,3.000
0,ONE STOP CONSTRUCTORS INC,718 SW PORT ST LUCIE BLVD STE 9\nPORT SAINT LU...,"$54,750.00","$23,104.00","$77,854.00",RES MD 8-19 UNITS PER AC,RMD-S,1919,0804 - 5-9 UNIT APT,3 Gable or Hip,5.000,2.000
0,WAYBRIGHT RESIDENTIAL PROPERTY LLC,"12533 SW 125TH CT\nMIAMI, FL 33186","$46,105.00","$4,050.00","$41,673.00",RES MD 8-19 UNITS PER AC,RMD-D,1924,0101 - SFR 1 STORY,3 Gable or Hip,1.000,3.000

In [ ]:
df_list

[Empty DataFrame
 Columns: []
 Index: [],
       ownerName                               ownerAddress buildingVal  \
 0  GALEDAR ADEL  6219 PENDRAGON PL\nJACKSONVILLE, FL 32258  $71,852.00

       landVal  taxableVal            useDescription zoningAssessment  \
 0  $40,000.00  $64,830.00  RES MD 8-19 UNITS PER AC            RMD-C

   yearBuilt        buildingType     roofStructure  baths bedrooms
 0      1993  0101 - SFR 1 STORY  8 Horizontal Lap  1.000    3.000  ,
 Empty DataFrame
 Columns: []
 Index: [],
                    ownerName  \
 0  ONE STOP CONSTRUCTORS INC

                                         ownerAddress buildingVal     landVal  \
 0  718 SW PORT ST LUCIE BLVD STE 9\nPORT SAINT LU...  $54,750.00  $23,104.00

    taxableVal            useDescription zoningAssessment yearBuilt  \
 0  $77,854.00  RES MD 8-19 UNITS PER AC            RMD-S      1919

           buildingType   roofStructure  baths bedrooms
 0  0804 - 5-9 UNIT APT  3 Gable or Hip  5.000    2.000  ,
                             ownerName                        ownerAddress  \
 0  WAYBRIGHT RESIDENTIAL PROPERTY LLC  12533 SW 125TH CT\nMIAMI, FL 33186

   buildingVal    landVal  taxableVal            useDescription  \
 0  $46,105.00  $4,050.00  $41,673.00  RES MD 8-19 UNITS PER AC

   zoningAssessment yearBuilt        buildingType   roofStructure  baths  \
 0            RMD-D      1924  0101 - SFR 1 STORY  3 Gable or Hip  1.000

   bedrooms
 0    3.000  ]

## <font color="blue">Output</font>

In [ ]:
# download file
df_listings.to_csv('output.csv', index=False)
files.download('output.csv')

# End Notebook